.App {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.style-props {
  width: 100%;
  margin-top: 50px;
}

.state .btn-login {
  position: fixed;
  right: 20px;
  top: 20px;
}

.btn-login {
  margin-top: 20px;
}

.btn-login button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  background-color: #61dafb;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.btn-login button:active {
  background-color: #61dafb;
  box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.75);
  transform: translateY(1px);
}
